@tailwind base;
@tailwind components;
@tailwind utilities;

.primary-btn {
  background-color: #fa6a57;
  border: none;
  color: white;
}
.primary-btn:hover {
  background-color: #fe4c00;
}

/* .secondary-btn{
  border: none;
  border-bottom: 3px solid #fa6a57;
  background: white;
}
.secondary-btn:hover{
  background-color: #fa6a57;
  border: none;
  color: white;
} */